* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(84, 144, 160), rgb(137, 99, 99));
  height: 100dvh;
}
.message {
  background-color: rgb(175, 165, 165);
  max-width: 30%;
  min-width: 29%;
  width: auto;
  padding: 10px;
  margin: 11px 2px;
  border-radius: 12px;
  border: 1px solid rgb(19, 19, 19);
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
#messageInp {
  border: 1px solid black;
  width: 44%;
}
#send-container {
}
